*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container */
.container{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

/* Navbar */
.navcontainer{
    position: sticky;
    top: 20px;
    z-index: 1000;

    width: 90%;
    margin: 0 auto;

    background: linear-gradient(
        81deg,
        rgba(63, 94, 251, 1) 0%,
        rgba(213, 70, 252, 1) 100%
    );

    border-radius: 25px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);

    display: flex;
    justify-content: center;
    align-items: center;
}



nav{
    width: 100%;
}

#navlist{
    margin: 20px;
    width: 100%;
    padding: 15px 30px;
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navitem{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#navitem a{
    position: relative;
    padding-bottom: 5px;
}
#navitem a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: yellow;
    transition: all 0.3s ease;
    border-radius: 5px;
}
#navitem a:hover::after{
    width: 100%;
}

@media (max-width: 1100px){
    #navlist{
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    #navitem{
        justify-content: center;
    }
}
@media (max-width: 1200px){
    #navlist{
        font-size: 1.6rem;
    }
}




#logo{
    font-size: 3rem;
    color: yellow;
}

a{
    text-decoration: none;
    color: yellow;
}

#navitem{
    display: flex;
    gap: 20px;
}

/* Main content */
.contentbox{
    width: 80%;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

/* Recipe card */
.recipe-card{
    background: rgba(2255,255,255,0.75);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 20px;
    padding: 30px;
    box-shadow:0 20px 45px rgba(0,0,0,0.12);
    transition: all 0.4s ease;
}
.recipe-card:hover{
    transform: translateY(-10px) scale(1.02);
    box-shadow:0 30px 60px rgba(0,0,0,0.20);
}

/* Layout inside card */
.item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

/* Left content */
.leftbox{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 20px;
}

.leftbox h2{
    font-size: 2.2rem;
    font-weight: 700;
    background: linear-gradient(
        90deg,
        rgba(63, 94, 251, 1),
        rgba(213, 70, 252, 1)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.leftbox h3{
    font-size: 1.2rem;
    color: #555;
    position: relative;
}
.leftbox h3::after{
    content: "";
    width: 50px;
    height: 3px;
    background: hwb(60 13% 12%);
    display: block;
    margin-top: 5px;
    border-radius: 5px;
}

body{
    font-family: "Poppins", sans-serif;
    background: linear-gradient(
        135deg,
        #fdfbfb 0%,
        #ebedee 100%
    );
}

.rightbox{
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

/* Image */
.rightbox img{
    max-height: 410px;
    width: 100%;
    border-radius: 50px;
    object-fit: cover;
    transition: transform 0.6s ease;
    

}
.rightbox img:hover{
    transform: scale(1.15);
}

/* Footer */
footer{
    width: 100%;
}

#footerbox{
    min-height: 40px;
    background: linear-gradient(
        81deg,
        rgba(63, 94, 251, 1) 0%,
        rgba(213, 70, 252, 1) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

#footerbox p{
    color: aliceblue;
}

@media(max-width: 900px){
    .item{
        flex-direction: column;
        align-items: center;
    }

    .rightbox img{
        max-height: 300px;
    }

    .contentbox{
        width: 90%;
    }
}    
.leftbox ul,
.leftbox ol{
    padding-left: 20px;
    line-height: 1.6;
}

.tags{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.tags span{
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 0.85;
    font-weight: 500;
    
}


@keyframes popIn{
    from{
        opacity: 0;
        transform: translateY(40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.recipe-card{
    animation: popIn 0.8s ease forwards;
}

#logo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
}
#navitem a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}
